<div class="login-page bk-img" style="background-image: url(img/resturant.jpg);">
    <div class="form-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="text-center text-bold text-light mt-4x">Sign in</h2>
                    <div class="well row pt-2x pb-3x bk-light">
                        <div class="col-md-8 col-md-offset-2">
                            <form class="mt" name="loginForm" novalidate>
                                <div ng-if="model.error" class="alert alert-danger" role="alert">
                                    {{model.error}}
                                </div>
                                <div class="alert alert-danger" ng-show="loginForm.$invalid && loginForm.$submitted">
                                    There are errors in the form
                                </div>
                                <label for="username" class="text-uppercase text-sm">Username</label>
                                <input ng-model="username"
                                       name="username"
                                       id="username"
                                       type="text"
                                       required
                                       class="form-control mb"
                                       placeholder="Username" />
                                <span class="error-text"
                                      ng-show="loginForm.username.$error.required && loginForm.$submitted">
                                    *Please enter a username
                                </span>

                                <div class="checkbox checkbox-circle checkbox-info">

                                </div>

                                <label for="password" class="text-uppercase text-sm">Password</label>
                                <input ng-model="password"
                                       id="password"
                                       name="password"
                                       type="password"
                                       required
                                       class="form-control mb"
                                       placeholder="Password">
                                <span class="error-text" ng-show="loginForm.$error.required && loginForm.$submitted">
                                    *Please enter a password
                                </span>

                                <div class="checkbox checkbox-circle checkbox-info">

                                </div>

                                <button ng-click="model.login(username, password)"
                                        type="submit"
                                        class="btn btn-primary btn-block">LOGIN</button>
                                <a href="/auth/google" class="btn btn-danger btn-block">
                                    <span class="fa fa-google-plus"></span>
                                    Google
                                </a>
                            </form>
                        </div>
                    </div>
                    <div class="text-center text-light">
                        <a href="#/register" class="text-light">New User? Register here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="text-center login">
                        <span class="glyphicon glyphicon-lock"></span>
                        Login
                    </h2>
                    <h4 class="text-center login">
                        Login or Register below
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form col-lg-12 center-block" name="loginForm" novalidate>
                        <div class="form-group">
                            &lt;!&ndash;<span class="input-group-addon">@</span>&ndash;&gt;
                            <input ng-model="username"
                                   name="username"
                                   type="text"
                                   required
                                   class="form-control input-lg"
                                   placeholder="Username" />
                            <span class="error-text"
                                  ng-show="loginForm.username.$error.required && loginForm.$submitted">
                                *Please enter a username
                            </span>
                        </div>
                        <div class="form-group">
                            &lt;!&ndash;<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>&ndash;&gt;
                            <input ng-model="password"
                                   name="password"
                                   type="password"
                                   required
                                   class="form-control input-lg"
                                   placeholder="Password">
                            <span class="error-text" ng-show="loginForm.$error.required && loginForm.$submitted">
                                *Please enter a password
                            </span>
                        </div>
                        <div class="form-group">
                            <button ng-click="model.login(username, password)"
                                    type="submit"
                                    class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-success btn-lg btn-block"
                               href="#/register">Register</a>
                        </div>
                        <div class="form-group">
                            <a href="/projectAuth/facebook" class="btn btn-primary btn-lg btn-block">
                                <span class="fa fa-facebook-official"></span>
                                Facebook
                            </a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>
    </div>-->
