<div class="profile-view">
    <div class="container-fluid">
        <div class="container">
            <h1 class="page-header business-list-title">Edit Profile</h1>
            <div class="row">
                <!-- left column -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img ng-if="!model.currentUser.url"
                             ng-src="img/staff-profile-blank.jpg"
                             id="img-profile"
                             class="avatar img-circle img-thumbnail"
                             alt="avatar">
                        <img ng-if="model.currentUser.url"
                             id="img-profile"
                             ng-src="{{model.currentUser.url}}"
                             class="avatar img-circle img-thumbnail img-responsive"
                             alt="avatar">
                        <h4 class="business-list-title">{{model.user.firstName}} {{model.user.lastName}}</h4>

                        <div class="form-group">
                            <form action="/rest/uploads"  method="post" enctype="multipart/form-data">
                                <input name="myFile" type="file" class="text-center center-block well well-sm form-control">
                                <input  name="width" value="150" style="display: none"/>
                                <input  name="userId" value="{{model.currentUser._id}}" style="display: none"/>
                                <button type="submit" class="btn btn-primary new-upload">Upload New Image</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <strong>Success!</strong>  {{model.success}}
                    </div>
                    <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <strong>Error!</strong> {{model.error}}
                    </div>
                    <h3 class="business-list-title">Edit personal information</h3>
                    <form class="form-horizontal" role="form" name="profileInformation" novalidate>
                        <div class="form-group">
                            <label class="col-lg-3 control-label business-list-title">First name:</label>
                            <div class="col-lg-8">
                                <input ng-model="model.user.firstName"
                                       class="form-control"
                                       id="firstName"
                                       name="firstName"
                                       placeholder="Jane"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label business-list-title">Last name:</label>
                            <div class="col-lg-8">
                                <input ng-model="model.user.lastName"
                                       class="form-control"
                                       id="lastName"
                                       name="lastName"
                                       placeholder="Bishop"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label business-list-title">Company:</label>
                            <div class="col-lg-8">
                                <input ng-model="model.user.company"
                                       class="form-control"
                                       id="company"
                                       name="company"
                                       placeholder="Company Name"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label business-list-title ">Email:</label>
                            <div class="col-lg-8">
                                <input ng-model="model.user.email"
                                       class="form-control"
                                       id="email"
                                       name="email"
                                       placeholder="janesemail@gmail.com"
                                       type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label business-list-title ">Phone:</label>
                            <div class="col-lg-8">
                                <input ng-model="model.user.phone"
                                       class="form-control"
                                       id="phone"
                                       name="phone"
                                       placeholder="617-373-2000"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label business-list-title">Username:</label>
                            <div class="col-lg-8">
                                <input ng-model="model.user.username"
                                       class="form-control"
                                       id="username"
                                       placeholder="janeuser"
                                       type="text"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label business-list-title">Password:</label>
                            <div class="col-lg-8">
                                <input ng-model="model.user.password"
                                       class="form-control"
                                       id="password"
                                       placeholder="11111122333"
                                       type="password"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input ng-click="model.updateUser(model.user)" class="btn btn-primary" value="Save Changes" type="button">
                                <span></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
</div>