<!--
    REFERENCE:
 Bootstrap template: http://startbootstrap.com/template-overviews/shop-item/-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><b>Home</b></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input ng-model="model.searchText" type="text" class="form-control" placeholder="Search">
                    </div>
                    <a href="#/searchTerm/{{model.searchText}}" class="btn btn-default">Submit</a>
                </form>
                <li class="dropdown visible-xs">
                    <a class="dropdown-toggle" data-toggle="dropdown"><b>Popular Categories</b><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/search/musicvenues">Music Venues</a></li>
                        <li><a href="#/search/festivals">Festivals</a></li>
                        <li><a href="#/search/casinos">Casinos</a></li>
                        <li><a href="#/search/bars">Bars</a></li>
                        <li><a href="#/search/danceclubs">Dance Clubs</a></li>
                        <li><a href="#/search/sportsbars">Sports Bars</a></li>
                        <li><a href="#/search/hotels">Hotels</a></li>
                        <li><a href="#/search/homeservices">Home Services</a></li>
                        <li><a href="#/search/localservices">Local Services</a></li>
                    </ul>
                </li>
                <li ng-if="model.currentUser == null">
                    <a href="#/register"><b>Register</b></a>
                </li>
                <li ng-if="model.currentUser == null">
                    <a href="#/login"><b>Login</b></a>
                </li>
                <li ng-if="model.currentUser" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Welcome <b>{{model.currentUser.username}}</b><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/user">Profile</a>
                        </li>
                        <li>
                            <a ng-click="model.logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <!-- Page Content -->
<div class="container-fluid business-list-view">
    <div class="container ">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header business-list-title">{{model.data.name}}
                    <small></small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
            <div class="panel-body panel-list-display">
                <div class="row">
                    <div class="col-md-3 hidden-xs">
                        <p class="lead">Popular Categories</p>
                        <ul class="ts-sidebar-menu">
                            <li class="open"><a href="#/search/musicvenues"><h4><b>Music Venues</b></h4></a></li>
                            <li class="open"><a href="#/search/festivals"><h4><b>Festivals</b></h4></a></li>
                            <li class="open"><a href="#/search/casinos"><h4><b>Casinos</b></h4></a></li>
                            <li class="open"><a href="#/search/bars"><h4><b>Bars</b></h4></a></li>
                            <li class="open"><a href="#/search/danceclubs"><h4><b>Dance Clubs</b></h4></a></li>
                            <li class="open"><a href="#/search/sportsbars"><h4><b>Sports Bars</b></h4></a></li>
                            <li class="open"><a href="#/search/hotels"><h4><b>Hotels</b></h4></a></li>
                            <li class="open"><a href="#/search/homeservices"><h4><b>Home Services</b></h4></a></li>
                            <li class="open"><a href="#/search/localservices"><h4><b>Local Services</b></h4></a></li>
                        </ul>
                    </div>

                    <div class="col-md-9">
                        <div class="thumbnail">
                            <div class="panel panel-default">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel-body fixed-panel-detail">
                                            <img class="img-responsive pic"
                                                 width="400"
                                                 height="300"
                                                 ng-src="{{model.data.image_url}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="panel-body fixed-panel-detail">
                                            <p>
                                                <h4>
                                                    <i>
                                                        <b>Address:</b><br>
                                                        <div ng-repeat="element in model.data.location.display_address">
                                                            {{element}}
                                                        </div>
                                                        {{model.data.location.country_code}}
                                                    </i>
                                                </h4>
                                                <p>
                                                    <h4>
                                                        <b>Phone:</b>
                                                        {{model.data.display_phone}}
                                                    </h4>
                                                </p>
                                                <p>
                                                    <h4>
                                                        <i>
                                                            <b>Neighborhoods:</b><br>
                                                            <div ng-repeat="element in model.data.location.neighborhoods">
                                                                {{element}}
                                                            </div>
                                                        </i>
                                                    </h4>
                                                </p>
                                                <p>
                                                    <div ng-if="model.currentUser">
                                                        <div ng-if="!model.liked" class="like-button">
                                                            <img class="img-responsive"
                                                                 ng-src="http://biz.leoraw.com/wp-content/uploads/2010/08/LikeButton_100px.gif"
                                                                 ng-if="model.currentUser"
                                                                 ng-click="model.likeBusiness(model.data)"
                                                                 alt="">
                                                        </div>
                                                        <div ng-if="model.liked" class="like-button">
                                                            <img class="img-responsive"
                                                                 ng-src="http://theunwiredpeople.com/wp-content/uploads/sites/5/2011/05/dislike5.jpg"
                                                                 ng-if="model.currentUser"
                                                                 ng-click="model.dislikeBusiness(model.data.id)"
                                                                 alt="">
                                                        </div>
                                                    </div>
                                                </p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caption-full">
                                <h3>{{model.data.name}}</h3>
                                <h4><p><i>{{model.data.reviews[0].excerpt}}</i></p></h4>
                            </div>
                            <div class="ratings">
                                <p>
                                    <img class="img-responsive"
                                         ng-src="{{model.data.rating_img_url}}" alt="">
                                </p>
                            </div>
                        </div>
                        <div class="well review">
                            <div ng-if="model.currentUser && !model.reviewEnabled" class="text-right">
                                <a class="btn btn-warning"
                                   ng-click="model.enableReview()"
                                   id="show-review-textarea">
                                    Write a Review
                                </a>
                            </div>
                            <div ng-if="model.reviewEnabled" class="row" id="submit-review">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <textarea ng-model="model.reviewText" class="form-control transition" cols="100" id="get-review" name="comment" placeholder="Submit a Review Here" rows="3"></textarea>

                                            <div class="text-left">
                                                <p>
                                                    <ng-rating ng-if="model.currentUser"
                                                               ng-model="model.rating"
                                                               editable="true">
                                                    </ng-rating>
                                                </p>
                                            </div>
                                            <div class="text-right">
                                                <a class="btn btn-danger" ng-click="model.disableReview()" id="reject-review">
                                                    <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                                <button class="btn btn-success"
                                                        ng-click="model.createReview(model.data, model.reviewText, model.currentUser.username, model.rating)">
                                                    <span class="glyphicon glyphicon-send"></span>
                                                    Post
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    Anonymous
                                    <span class="pull-right">12 days ago</span>
                                    <p>I've alredy ordered another one!</p>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    Anonymous
                                    <span class="pull-right">15 days ago</span>
                                    <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>



        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
</div>