<!--
    REFERENCE:
 Bootstrap template: http://startbootstrap.com/template-overviews/3-col-portfolio/-->

<div class="container-fluid business-list-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header business-list-title">Places Around You
                    <small></small>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-2 hidden-xs">
                <p class="lead business-list-title">Popular Categories</p>
                <ul class="ts-sidebar-menu">
                    <li class="open"><a href="#/search/bakeries"><h4><b>Bakeries</b></h4></a></li>
                    <li class="open"><a href="#/search/breweries"><h4><b>Brewries</b></h4></a></li>
                    <li class="open"><a href="#/search/foodtrucks"><h4><b>Food Trucks</b></h4></a></li>
                    <li class="open"><a href="#/search/juicebars"><h4><b>Juice Bars</b></h4></a></li>
                    <li class="open"><a href="#/search/desserts"><h4><b>Deserts</b></h4></a></li>
                    <li class="open"><a href="#/search/icecream"><h4><b>Ice Cream</b></h4></a></li>
                    <li class="open"><a href="#/search/coffee"><h4><b>Coffee</b></h4></a></li>
                    <li class="open"><a href="#/search/donuts"><h4><b>Donuts</b></h4></a></li>
                    <li class="open"><a href="#/search/bagels"><h4><b>Bagels</b></h4></a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-10">
                <div ng-repeat="business in model.data.businesses" class="col-md-4 col-sm-6 portfolio-item">
                    <div class="panel panel-default">
                        <a href="" ng-click="model.findApiBusinessById(business.id)">
                            <img class="img-responsive"
                                 width="700"
                                 height="300"
                                 ng-src="{{business.image_url}}" alt="">
                        </a>
                        <div class="panel-body fixed-panel">
                            <h5>
                                <a href="" ng-click="model.findApiBusinessById(business.id)"><h4>{{business.name}}</h4></a>
                            </h5>

                            <p>
                                <img class="img-responsive"
                                     ng-src="{{business.rating_img_url}}" alt="">
                            </p>
                            <p>Phone: {{business.display_phone}} <br>
                                Location: {{business.location.city}}, {{business.location.state_code}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
