<!--
    REFERENCE:
 Bootstrap template: http://startbootstrap.com/template-overviews/3-col-portfolio/-->

<div class="container-fluid business-list-view">
    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header business-list-title">Places Around You
                    <small></small>
                </h2>
            </div>
        </div>
                <div class="row">
                    <div class="col-md-3 col-sm-2 hidden-xs">
                        <p class="lead business-list-title">Popular Categories</p>
                        <ul class="ts-sidebar-menu">
                            <li class="open"><a href="#/search/musicvenues"><h4><b>Music Venues</b></h4></a></li>
                            <li class="open"><a href="#/search/festivals"><h4><b>Festivals</b></h4></a></li>
                            <li class="open"><a href="#/search/casinos"><h4><b>Casinos</b></h4></a></li>
                            <li class="open"><a href="#/search/bars"><h4><b>Bars</b></h4></a></li>
                            <li class="open"><a href="#/search/danceclubs"><h4><b>Dance Clubs</b></h4></a></li>
                            <li class="open"><a href="#/search/sportsbars"><h4><b>Sports Bars</b></h4></a></li>
                            <li class="open"><a href="#/search/hotels"><h4><b>Hotels</b></h4></a></li>
                            <li class="open"><a href="#/search/homeservices"><h4><b>Home Services</b></h4></a></li>
                            <li class="open"><a href="#/search/localservices"><h4><b>Local Services</b></h4></a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-sm-10">
                        <div ng-repeat="business in model.data.businesses" class="col-md-4 col-sm-6 portfolio-item">
                            <div class="panel panel-default">
                                <a ng-click="model.findApiBusinessById(business.id)">
                                    <img class="img-responsive"
                                         width="700"
                                         height="300"
                                         ng-src="{{business.image_url}}" alt="">
                                </a>
                                <div class="panel-body fixed-panel">
                                    <h5>
                                        <a ng-click="model.findApiBusinessById(business.id)"><h4>{{business.name}}</h4></a>
                                    </h5>

                                    <p>
                                        <img class="img-responsive"
                                             ng-src="{{business.rating_img_url}}" alt="">
                                    </p>
                                    <p>Phone: {{business.display_phone}} <br>
                                        Location: {{business.location.city}}, {{business.location.state_code}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>
        </div>-->
    </div>
</div>
