<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                New Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createWebsite(name, description, websiteForm)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form name="websiteForm" novalidate>
        <div class="form-group">
            <label for="website-name">Name</label>
            <input ng-model="name"
                   name="name"
                   required
                   type="text"
                   class="form-control"
                   id="website-name"
                   placeholder="Name">
            <span ng-if="model.error" class="error-text">
                *{{model.nameError}}
            </span>
        </div>
        <div class="form-group">
            <label for="website-description">Description</label>
            <textarea ng-model="description" rows="4" id="website-description" class="form-control" placeholder="Description"></textarea>
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>