<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a  ng-click="model.updateWidget(model.widget, widgetForm)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form name="widgetForm" novalidate>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input ng-model="model.widget.name"
                   name="name"
                   type="text"
                   class="form-control"
                   id="widget-name"
                   required
                   placeholder="Widget Name">
            <span ng-if="model.error" class="error-text">
                *{{model.nameError}}
            </span>
        </div>
        <div class="form-group">
            <label for="widget-text">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="widget-text"
                   value="The Dark Knight Rises - Blu-ray Trailer"
                   placeholder="Widget Text">
        </div>
        <div class="form-group">
            <label for="widget-size">Size</label>
            <select ng-model="model.widget.size"
                    class="form-control"
                    id="widget-size">
                <option value="" selected disabled>Select Size</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <a ng-click="model.deleteWidget(model.widgetId)"
           class="btn btn-danger btn-block">Delete</a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>