<div class="container-fluid">
    {{model.project.data}}
    {{model.project.data.proposals[0].thumbImageURL}}
    {{model.project.data.proposals[0].teacherName}}
    {{model.project.data.proposals[0].schoolName}}
    {{model.project.data.proposals[0].city}}, {{model.project.data.proposals[0].state}}
    {{model.project.data.proposals[0].gradeLevel.name}}
    {{model.project.data.proposals[0].povertyLevel}}
    <div class="intro-highlight">
        <div class="container clearfix">
            <div class="container-fluid">
                <div class="col col-4 teacher-wrapper clearfix">
                    <img class="classroom-photo"
                         ng-src="https://storage.donorschoose.net/dc_prod/images/user/small/u2957287_sm.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>